@import "../../common/colors.scss";

.movie-wrapper {
  padding: 10px;

  .movie-list {
    margin: 10px 0 35px 0;

    .movie-backgr {
      width: 200px;
      text-align: center;

      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.183),
        transparent
      );
    }
    h2 {
      color: $font-secondary;
      margin-bottom: 10px;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
  }
  .movie-error {
  }
}
.input-btn-con {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  input {
    padding: 6px 10px;
    font-size: 0.95rem;
    font-weight: 800;
  }
  input:focus {
    outline: none;
  }
  button:hover {
    background-color: white;
    color: black;
  }
}
